#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theHeartbeat
GenericName=System Monitor
GenericName[vi]=Trình theo dõi hệ thống
GenericName[pl]=Monitor systemu
Exec=theheartbeat
Icon=theheartbeat
