#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=theHeartbeat
GenericName[]=System Monitor
Exec=theheartbeat
Icon=theheartbeat
Categories=Utility;
StartupWMClass=theHeartbeat
